/* Global */

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    background-color: #f2f2f2;
}

/* Navigation Bar */

.header{
    display: flex;
    padding: 0 0 0 10px;
    color: #fff;
    background-color: #41b3a3;
}

/* Content */

.container{
    padding: 40px;
}

.page-title{
    padding:10px;
    text-align: center;
}

/* Information Cards */

.card:hover{
    transform: scale(1.01, 1.01);
}

.card-button{
    float: right;
    padding: 12px 18px;
    border: none;
    border-radius: 2px;
    font-weight:bold;
    color: #fff;
    background-color: #e8a87c;
}

.card-button:hover{
    background-color: #e27d60;
}

/* Footer */

.footer{
    margin-top: auto;
    padding: 40px 0 40px 0;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #41b3a3;
}