* {
    box-sizing: border-box;
}

html {
    height: 100%; /* for fixed footer */
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    /* for fixed footer */
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Navigation Bar */
nav {
    display: flex; /* display as flexbox*/
    align-items: center; /* align row items vertically*/
    background-color: #41B3A3;
}

nav .logo {
    margin: 0 100px; /* adjust margin left and right*/
}

.navLinks ul{
    margin: 0;
    padding: 0;
    display: flex; 
    font-weight: bold;
}

.navLinks li {
    list-style: none; /* remove order dots*/
}

.navLinks li:hover {
    background-color: #E8A87C;
    border-radius:6px;
}

.navLinks a {
    text-decoration: none; /* remove link underlines*/
    color: #f2f2f2;
    padding: 20px;
    display: block;
    font-size: 18px;
}

.toggleButton {
    position: absolute; /* fix position*/
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column; /* make the bars show as column*/
    justify-content: space-between; /* align column items vertically*/
    height: 28px; /* set height of the container*/
    width: 30px; /* set width of the container*/
}

.toggleButton .bar {
    height: 4px; /* set size of each bar*/
    width: 100%;
    background-color: white; /* set color of each bar for it to appear*/

}

/* Main Site Content */
h1 {
    font-size: 42px;
    text-align: center;
    color: #182628;
}

h2 {
    font-size: 26px;  
}

.pickMealIntro {
    margin: 0;
    background-color: #E8A87C;
    padding: 10% 5%;
}

.pickMealIntro h1 {
    margin: 0;
    color: #f2f2f2;
    text-align: center;
    font-size: 64px;
    font-weight: lighter;
}

.pickMealIntro p {
    text-align: center;
    color: #f2f2f2;
    font-size: 24px;
    font-weight: bolder;
}

.optionButtons ul {
    display: flex;
    flex-direction: column; 
    align-items: center; /* align column items horizontally */
    padding: 0;
    margin: 0;
}

.optionButtons li {
    list-style: none;
    margin: 10px;
}

.optionButtons button {
    padding: 12px;
    min-width: 360px;
    background-color: #E27D60;
    color: #f2f2f2;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.3s ease-out; /* add animation fade in */
}

.optionButtons button:hover {
    background-color: #E8A87C;
}

.optionButtons button:focus {
    outline: none;
}

.optionButtons button:active {
    transform: scale(.98); /* reduce width on click */
}

.mealContainer {
    display: flex;
    align-items: center;
    justify-content: center; /* align row items horizontally */
    flex-wrap: wrap; /* wraps cards to next line when reducing down screen size for responsiveness */
    margin-bottom: 100px;
}

.mealCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-shrink: 0;
    box-shadow: 0 2px 2px 0.5px #555;
    margin: 10px;
    width: 280px;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    cursor: grab;
}

.mealCard:hover {
    transform: scale(1.05,1.05); /* increase width on hover */
    box-shadow: 0 8px 16px 2px #555;
}

.mealContainer img {
    width: 100%;
    border-radius: 4px;
}

.mealName {
    background-color: #E8A87C;
    color: #f2f2f2;
    width: 100%;
    margin: 0;
    padding: 15px 0;
}

.mealDescription {
    padding: 10px;
    margin: 0;
    color: rgb(30, 30, 30);
}

.mealCalPriceContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mealCalPrice {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0 10px;
    color: rgb(45, 45, 45);
}

.mealType {
    background-color: #E8A87C; 
    color: #f2f2f2;
    margin-bottom: 0;
    padding: 10px 0;
    font-size: 20px;
}

.yourMealHide {
    display: none;
}

/* Footer */

footer {
    background-color: #41B3A3;
    text-align: center;
    padding-top: 40px;
    margin-top: auto; /* for fixed footer */
}

footer p {
    font-weight: bold;
    color: #f2f2f2;
    font-size: 24px;
}

.footerLinks ul {
    padding: 0;
    margin:0;
    display: flex;
    justify-content: center;
}

.footerLinks li {
    list-style: none;
}

.footerLinks a {
    text-decoration: none;
    color: #f2f2f2;
    display: block;
    padding: 20px;
    margin-bottom: 60px;
    font-weight: bold;
}

.footerLinks a:hover {
    color: #182628;
}

/* adjust contents when resizing down screen size*/
@media (max-width: 899px) {
    /* displays the mobile toggle button for the nav bar */
    .toggleButton {
        display: flex; 
    }

    .toggleButton:active {
        background-color: #555;
        border-style: solid;
        border-color: #555;
    }

    /* hides the desktop nav links */
    .navLinks {
        display: none; 
        width: 100%; /* change the width size so the hover affects the whole container*/
    }

    /* displays the mobile nav links after pressing the togglebutton*/
    .mobileNavLinks { 
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav .logo {
        margin: 0 20px; 
     }

     .navLinks ul {
         flex-direction: column; /* change the navbar to list view*/
         width: 100%; /* change the width size so the hover affects the whole container*/ 
     }

     .navLinks li {
         text-align: center;
     }

     .navLinks a {
         padding: 15px;
     }   

     .optionButtons button {
         min-width: 220px;
     }
}





